body {
    background-color: #f2f2f2; 
    margin: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/876/362/non_2x/slow-burn-forest-fire-at-night-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.628); 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    font-size: 19px
}

input[type="text"] {
    padding: 12px;
    margin-bottom: 15px;
    /* border: 1px solid #cccccc; */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    /* color: #ffffff; */
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    /* margin-top: 20px;
    color: #007bff; */
    margin-top: 20px;
    color: #007bff;
    font-size: 24px; 
}

.form-group input[type="text"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.sidebar {
    /* Sidebar styles */
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Add some spacing between sidebar and content */
}
.text-blue {
    background-color: #d6cdbb;
  }